<div class="item">

    <?php
    if (isset($this->config->default['icon']))
        echo '<div class="icon"><i class="'.$this->config->default['icon'].'"></i></div>';
    ?>

    <div class="content<?php if (!isset($this->config->default['icon'])) echo ' no-icon' ?>">
        <div class="label"><?= $this->config->default['label'] ?></div>
        <?php
        if (isset($this->config->default['comment']))
            echo '<div class="comment">'.$this->config->default['comment'].'</div>';
        ?>
    </div>

    <div class="actions">
        <?php
        if (isset($this->config->sort_column))
            echo '<a href="#" class="sort-handle" data-control="sort-handle"><i class="icon-bars"></i></a>';
        ?>
        <a href="#" data-control="remove-item">
            <i class="icon-trash-o"></i>
        </a>
    </div>

</div>