<div class="owl-hasmany<?php if (isset($this->config->default)) echo ' default' ?>"
    data-alias="<?= $this->alias ?>"
    data-properties="<?= htmlspecialchars(json_encode($properties)) ?>"
    <?php if(isset($relatedModel->rules) && $relatedModel->rules): ?>
        data-validation="<?= $validation ?>"
    <?php endif ?>
    data-hasmany-container
>

    <!-- Relation list -->
    <ol data-hasmany-list>
        <?= $this->makePartial('list', ['items' => $items]) ?>
    </ol>

    <!-- Add button -->
    <a href="javascript:;"
        data-hotkey="ctrl+i, cmd+i"
        class="add-item"
        data-control="add-item"
    >
        <i class="<?= $add_icon ?>"></i><?= $add_label ?>
    </a>

    <!-- List item template -->
    <script type="text/template" data-hasmany-template>
        <?= $this->makePartial('item', [
            'item' => [
                'data' => false,
                'html' => $this->makePartial($partial)
            ]
        ]); ?>
    </script>

    <!-- Item editor -->
    <script type="text/template" data-hasmany-editor>
        <?= $this->makePartial('editor') ?>
    </script>

    <!-- Attach the hasManyEditor -->
    <script type="text/javascript">
        $(document).on('ready', function() {
            $('[data-hasmany-container][data-alias="<?= $this->alias ?>"]').hasManyEditor(
                '<?= $this->alias ?>',
                <?= isset($this->config->sort_column) ? 'true' : 'false' ?>
            )
        })
    </script>
</div>