<div data-owl="money" class="owl-money"
    data-alias="<?= $this->alias ?>"
>
    <input type="text"
        name="<?= $this->fieldName ?>"
        class="form-control"
        placeholder="<?= $config['placeholder'] ?>"
    />

    <script type="text/javascript">
        $(function() {
            $('[data-owl="money"][data-alias="<?= $this->alias ?>"] input[name="<?= $this->fieldName ?>"]').maskMoney({
                thousands: "<?= $config['thousands'] ?>",
                decimal: "<?= $config['decimal'] ?>",
                suffix: "<?= $config['suffix'] ?>",
                prefix: "<?= $config['prefix'] ?>",
                allowNegative: <?= $config['allowNegative'] ?>
            })<?php if ($loadValue) echo ".maskMoney('mask', $loadValue)" ?>
        })
    </script>

</div>
