.owl-hasmany.default ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.owl-hasmany.default ol li {
    position: relative;
    height: 60px;
    color: #666;
}
.owl-hasmany.default ol li:hover {
    background: #58B6F7;
    color: #fefefe;
}
.owl-hasmany.default ol .sortable-placeholder {
    background: #fefefe;
    border: 1px dotted #58B6F7;
}

.owl-hasmany.default ol li .item {
    display: table;
    height: 60px;
    width: 100%;
    position: absolute;
}

.owl-hasmany.default ol li .icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
}
.owl-hasmany.default ol li .icon i {
    display: block;
    width: 60px;
    text-align: center;
}

.owl-hasmany.default ol li .content {
    display: table-cell; 
    vertical-align: middle;
    width: 50%;
}
.owl-hasmany.default ol li .content.no-icon {
    padding-left: 15px;
}

.owl-hasmany.default ol li .content .label {
    
}

.owl-hasmany.default ol li .actions {
    display: table-cell; 
    vertical-align: middle;
    text-align: right;
    width: 50%;
}
.owl-hasmany.default ol li .actions a {
    font-size: 22px;
    float: right;
    margin-left: 1px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: none;
}
.owl-hasmany.default ol li:hover .actions a, ol .sortable-placeholder .actions a {
    background: #2581B8;
    text-align: center;
    border-right: 1px solid #328ec8;
    text-decoration: none;
    color: #fefefe;
    display: inline-block;
}
.owl-hasmany.default ol li .actions [data-control="sort-handle"] {
    cursor: move;
}