.hasmanywidget li[data-hasmany-item] {
    cursor: pointer;
}

.hasmanywidget .add-item {
    display: block;
    margin: 20px;
    padding: 13px 15px;
    border: dotted 2px #ebebeb;
    color: #bdc3c7;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
}

.hasmanywidget .add-item i {
    margin-right: 10px;
    font-size: 14px;
}

.hasmanywidget .add-item:hover {
    text-decoration: none;
    background-color: #58b6f7 !important;
    color: #ffffff !important;
    border: none;
    padding: 15px 17px;
}