<div class="owl-tagbox" data-alias="<?= $this->alias ?>">

    <!-- Tagbox container -->
    <ul data-control="list">
        <?php
        if (isset($tags) && is_array($tags) && $tags) {
            foreach ($tags as $tag)
                echo $this->makePartial('tag', ['tag' => $tag]);
        }
        ?>
        <li data-control="last">
            <input data-control="tagbox-input" type="text" placeholder="<?= $placeholder ?>" />
        </li>
    </ul>

    <!-- Attach tagbox handler -->
    <script type="text/javascript">
        $(function() {
            $('.owl-tagbox[data-alias="<?= $this->alias ?>"]').tagbox(
                <?= $config ?>
            )
        })            
    </script>

    <!-- Tag template -->
    <script type="text/template" data-control="template">
        <?= $this->makePartial('tag') ?>
    </script>
    
</div>
